<html itemscope itemtype="http://schema.org/Article">
<body>
  <button type="button" onclick="location.href='https://auth.dataporten.no/oauth/authorization?client_id={{.ClientId}}&response_type=code'">Login with Dataporten</button>
  <button type="button" onclick="location.href='https://minside.dataporten.no'">Revoke access</button>
</body>
</html>
